[Unit]
Description=WeeWX4 weather station

[Service]
ExecStart=/usr/bin/docker run --rm --name=%n --net=host \
  -u %U:%G \
  -v /etc/localtime:/etc/localtime:ro \
  -v /etc/timezone:/etc/timezone:ro \
  -v /etc/passwd:/etc/passwd:ro \
  -v /run/mysqld/mysqld.sock:/run/mysqld/mysqld.sock \
  -v /home/%u/.ssh:/home/weewx/.ssh \
  -v /home/%u/archive:/home/weewx/archive \
  -v /home/%u/public_html:/home/weewx/public_html \
  -v /home/%u/weewx.conf:/home/weewx/weewx.conf \
  weewx4
ExecStop=/usr/bin/docker stop -t 2 %n ; /usr/bin/docker rm -f %n
Type=simple
Restart=always
RestartSec=15s

[Install]
WantedBy=default.target
